.todo{
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
    /* transition: all 1s; */
    animation:animate .5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes animate{
    from{
        transform:translateX(-200%);
        opacity: 0;
    }
    to{
        transform:translateY(0);
        opacity: 1;
    }
}

.todo li{
    flex:1 ;
    padding: 0rem .5rem;
    font-size: 1.3rem;
    word-wrap:break-word;
    word-break:break-all;
}

.fa-check,fa-trash{
    pointer-events: none;
}

.complete,.trash{
    background-color: #ff6f47;
    color: #fff;
    border: none;
    border-radius: 0%;
    padding: 1rem;
    cursor: pointer;
    transition: all .5s;
}
.complete:hover{
    background-color:rgb(1, 136, 102);
}
.trash:hover{
    background-color:#e63302;
}
.complete{
    border-right: 1px solid white;
    background-color: rgb(11,212,162);
}
.completed{
    text-decoration: line-through;
    opacity: .4;
}

.fall{
    animation: del 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes del{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(10rem);
        opacity: 0;
    }
}