@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Zen Kurenaido', sans-serif;
}
body{
    background: #adfedc;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #adfedc, #ff7981);  Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #adfedc, #ff7981); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
html{
    font-size: 100%;
}

@media screen and (max-width:480px){
    html{
        font-size: 60%;
    }
    
}